@import '@radix-ui/colors/black-alpha.css';

.root {
  display: flex;
  align-items: center;

  $width: 140px;
  $height: 28px;
  $button-height: 26px;
  $button-width: 70px;

  /* reset */
  button {
    all: unset;
  }

  .SwitchRoot {
    width: $width;
    height: $height;
    background-color: var(--black-a9);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--black-a7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }

  .SwitchRoot[data-state='checked'] {
    background-color: black;
  }

  .SwitchRoot:disabled {
    opacity: 0.5;
  }

  .SwitchThumb {
    display: block;
    width: $button-width;
    height: $button-height;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;

    mix-blend-mode: difference;
  }

  .SwitchThumb[data-state='checked'] {
    transform: translateX($width - $button-width - 2px);
  }

  .Label {
    color: white;
    font-size: 15px;
    line-height: 1;
    padding-right: 15px
  }

  .left {
    position: absolute;
    left: 4px;
    top: 4px;
    color: white;
    font-size: 14px;

    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: $button-height - 4px;
      height: $button-height - 4px;
    }

  }
  .right {
    position: absolute;
    right: 4px;
    top: 4px;
    color: white;
    font-size: 14px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: $button-height - 4px;
      height: $button-height - 4px;
      transform: translateY(-2px);
    }
  }

}
